<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<htmL>
<head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css" />
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-alert.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-button.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-carousel.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-collapse.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-dropdown.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-modal.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-popover.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-scrollspy.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-tab.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-tooltip.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-transition.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-typeahead.js"></script>
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="div-collapse">
                <ul class="nav">
                    <li><a href="/htmlgrab/">Home</a></li>
                    <li><a href="/statistics">Statistics</a></li>
                    <li><a href="/schedules">Schedules</a></li>
                    <li><a href="/filters">Filters</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="span8">
    <div class="row">
        <div class="span16 offset3">
            <h1>Providers ()</h1>
        </div>
    </div>
    <table class="table table-striped table-bordered table-condensed offset1">
        <thead>
        <tr>
            <th>Provider</th>
            <th>IP</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>…</td>
            <td>…</td>
        </tr>
        </tbody>

    </table>

</div>

<div class="span6 offset2">
    <form class="form-horizontal">
        <fieldset>
            <legend>Add provider</legend>
            <div class="control-group">
                <label class="control-label" for="provider">Provider</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="provider">
                </div>
                <label class="control-label" for="ip_adress">IP Address</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="ip_address">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <br />
                <br />
            </div>
        </fieldset>
    </form>
</div>

</body>
</html>