<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<htmL>
<head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.css" />
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-alert.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-button.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-carousel.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-collapse.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-dropdown.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-modal.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-popover.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-scrollspy.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-tab.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-tooltip.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-transition.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/bootstrap-typeahead.js"></script>
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="div-collapse">
                <ul class="nav">
                    <li><a href="/htmlgrab/">Home</a></li>
                    <li><a href="/statistics">Statistics</a></li>
                    <li><a href="/schedules">Schedules</a></li>
                    <li><a href="/filters">Filters</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<div class="row">
    <div class="span16 offset1">
        <h1>Variables ()</h1>
    </div>
</div>

<div class="row">
    <div class="span12 offset1">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>Title</th>
                <th>Provider</th>
                <th>Started</th>
                <th>Finished</th>
                <th>Checked Links</th>
                <th>Results</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>…</td>
                <td>…</td>
            </tr>
            </tbody>

        </table>

    </div>
</div>
</body>
</html>